:root {

  /* Color Styles */
  --primary: #1f1f1f;
  --primary-light: #616161;
 
  /* VYF Custom Colors */
  --blue: #4285F4;
  --blue-light: #5f99f6;
  --red: #DB4437;
  --red-light: #e35144;
  --yellow: #F4B400;
  --yellow-light: #f3ba1c;
  --green: #0F9D58;
  --green-light: #1bc171;

  /* Font Size Desktop */
  --header-1: 4rem;
  --header-2: 3rem;
  --header-3: 2.625rem;
  --header-4: 2rem;

  --text-medium: 1.125rem;
  --text-regular: 1rem; /*default*/

  /* Font Weight */
  --font-weight-bold: 700;
  --font-weight-semi-bold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-light: 300;

}


/* UNIVERSAL SELECTOR */
/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--bg-clr-light);
  color: var(--bg-clr-dark);
  font-family: 'Open Sans', sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a {
  text-decoration: none;
  color: var(--bg-clr-light);
  transition: all 0.4s ease;
}

/* VYF Custom Color */
.vyf-custom {
  background: rgb(66,133,244);
  background: linear-gradient(90deg, rgba(66,133,244,1) 0%, rgba(219,68,55,1) 35%, rgba(244,180,0,1) 67%, rgba(15,157,88,1) 100%); 
 }
 .vyf-custom-text {
  background: var(--primary);
  background: -webkit-linear-gradient(to right, #4285F4 0%, #4285F4 15%, #DB4437 20%, #DB4437 30%,#F4B400 40%, #F4B400 55%, #0F9D58 80%);
  background: -o-linear-gradient(to right, #4285F4 0%, #4285F4 15%, #DB4437 20%, #DB4437 30%,#F4B400 40%, #F4B400 55%, #0F9D58 80%);
  background: -moz-linear-gradient(to right, #4285F4 0%, #4285F4 15%, #DB4437 20%, #DB4437 30%,#F4B400 40%, #F4B400 55%, #0F9D58 80%);
  background: linear-gradient(to right, #4285F4 0%, #4285F4 15%, #DB4437 20%, #DB4437 30%,#F4B400 40%, #F4B400 55%, #0F9D58 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -ms-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -o-text-fill-color: transparent;
 }
 .blue {
  color: var(--blue);
 }
 .red {
  color: var(--red);
 }
 .green {
  color: var(--green);
 }
 .yellow {
  color: var(--yellow);
 }
 .blue-bg {
  background-color: var(--blue);
  color: #fff;
 }
 .red-bg {
  background-color: var(--red);
  color: #fff;
 }
 .green-bg {
  background-color: var(--green);
  color: #fff;
 }
 .yellow-bg {
  background-color: var(--yellow);
  color: #fff;
 }

 .blue-bg {
  background-color: var(--blue);
  color: #fff;
 }
 .red-bg {
  background-color: var(--red);
  color: #fff;
 }
 .green-bg {
  background-color: var(--green);
  color: #fff;
 }
 .yellow-bg {
  background-color: var(--yellow);
  color: #fff;
 }

 /* BUTTON & INPUT */

.btn, input, textarea{
  padding: 15px 25px;
  border-radius: 0 !important;
}
.btn:focus, input:focus {
  border: 1px solid var(--primary-light) !important;
}

.btn-blue {
  background-color: var(--blue);
}

.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue:visited {
  background-color: var(--blue-light);
}

.btn-red {
  background-color: var(--red);
}

.btn-red:hover,
.btn-red:focus,
.btn-red:active,
.btn-red:visited {
  background-color: var(--red-light);
}

.btn-green {
  background-color: var(--green);
}

.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green:visited {
  background-color: var(--green-light);
}

.btn-yellow {
  background-color: var(--yellow);
}

.btn-yellow:hover,
.btn-yellow:focus,
.btn-yellow:active,
.btn-yellow:visited {
  background-color: var(--yellow-light);
}

.input-group .btn{
  border: none !important;
}

.newsletter-title {
  font-size: 1rem;
  color: var(--primary-light);
}
.newsletter-input {
  width: 95%;
}

/* NAVBAR */

.navbar-brand img {
  padding-right: 16px;
  width: 300px;
  height: 100%;
}
.navbar-brand:hover {
  transform: rotate(-2deg);
  transition: 500ms ease-in-out;
}

.nav-link {
  font-size: var(--text-medium);
  font-weight: var(--font-weight-semi-bold);
  color: var(--dark-brown) !important;
}

.nav-link:hover,
.nav-link:focus {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.navbar-toggler {
  border: transparent;
}
.navbar-toggler:focus {
  border: 1px solid var(--primary-light)
}

.dropdown-menu {
  border-radius: 0;
  border-color: 1px solid var(--primary);
  background-color: white;
  color: var(--primary);
  position: relative;
}
.dropdown-menu .dropdown-item:hover {
  text-decoration: underline;
  color: var(--primary-light);
  text-underline-offset: 0.5rem;
  background: transparent;
}

.active-page {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.active-page {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}
.active-page {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.active-page {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}
/* SECTION TITLE */

.section-title h3{
  font-weight: var(--font-weight-bold);
  color: var(--dark-brown);
  text-transform: uppercase;
}

.terms{
  margin: 0 6rem 3rem 6rem !important;
}

.terms h2{
  font-weight: 800;
  font-size: 1.5rem;
  margin-left: 1rem;
}

.paragraph{
  font-size: var(--text-regular);
  color: var(--primary) !important;
  text-align: justify;
}




/* HERO */

.hero {
  margin: 5rem 0;
}

.text-label,
.text-hero-bold,
.text-hero-regular {
  margin: 24px 0;
}

.text-label {
  color: var(--primary);
  font-size: var(--text-regular);
  font-weight: var(--font-weight-regular);
  line-height: 31px;
}

.text-hero-bold {
  background: var(--primary);
  background: -webkit-linear-gradient(to right, #4285F4 0%, #4285F4 15%, #DB4437 20%, #DB4437 30%,#F4B400 40%, #F4B400 55%, #0F9D58 80%);
  background: -o-linear-gradient(to right, #4285F4 0%, #4285F4 15%, #DB4437 20%, #DB4437 30%,#F4B400 40%, #F4B400 55%, #0F9D58 80%);
  background: -moz-linear-gradient(to right, #4285F4 0%, #4285F4 15%, #DB4437 20%, #DB4437 30%,#F4B400 40%, #F4B400 55%, #0F9D58 80%);
  background: linear-gradient(to right, #4285F4 0%, #4285F4 15%, #DB4437 20%, #DB4437 30%,#F4B400 40%, #F4B400 55%, #0F9D58 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -ms-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -o-text-fill-color: transparent;

  font-size: var(--header-1);
  font-weight: var(--font-weight-bold);
  line-height: 74px;
}

.text-hero-regular {
  color: var(--primary);
  font-size: var(--text-regular);
  font-weight: var(--font-weight-regular);
  line-height: 31px;
}

/* MAP/SCOPE */

.home-map-cover {
  padding: 80px 0 0 0;
  overflow: hidden;
  background: url(../images/background/bg-white-1.webp);
  background-position: center;
  background-size: cover;
}
  
#map {
  position: relative;
  margin: 0;
  background-image: url('../images/background/ph-map.webp');
  height: 650px;
  width: 100%;
  background-position: center;
  background-size: cover;
}
  
.dot {
  width: 12px;
  height: 12px;
  border-radius: 60%;
  -webkit-animation: antenna 1.5s infinite ease-out;
  animation: antenna 1.5s infinite ease-out;
  background: var(--primary-clr);
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;   
}
  
.dot:before {
  content: '';
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
  
.dot:nth-child(odd) {
  -webkit-animation: antenna 1.5s infinite ease-out 0.3s;
  animation: antenna 1.5s infinite ease-out 0.3s;
}

.dot-1 {
  background-color: #F4B400;
  top: 21.2%;
  left: 41.6%;
}

.dot-2 {
  background-color: #4285F4;
  top: 27%;
  left: 34%;
}

.dot-3 {
  background-color: #DB4437;
  top: 17.5%;
  left: 63%;
}


.dot-4 {
  background-color: #0F9D58;
  top: 49%;
  left: 70.5%;
}

.tooltip-homepage {
  display: inline;
  -webkit-perspective: 500px;
  -moz-perspective: 500px;
  perspective: 500px;
}

.tooltip-homepage:hover .tooltip__content {
  -webkit-transform: translate3d(-50%, -10%, 0);
  -moz-transform: translate3d(-50%, -10%, 0);
  -ms-transform: translate3d(-50%, -10%, 0);
  -o-transform: translate3d(-50%, -10%, 0);
  transform: translate3d(-50%, -10%, 0);
  opacity: 1;
  pointer-events: auto;
}

.tooltip__content-1 {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  transition: all 200ms ease;
  -webkit-transform: translate3d(-50%, 0%, 0);
  -moz-transform: translate3d(-50%, 0%, 0);
  -ms-transform: translate3d(-50%, 0%, 0);
  -o-transform: translate3d(-50%, 0%, 0);
  transform: translate3d(-50%, 0%, 0);
  -webkit-transform-origin: 0 10px;
  -moz-transform-origin: 0 10px;
  -ms-transform-origin: 0 10px;
  -o-transform-origin: 0 10px;
  transform-origin: 0 10px;
  background: #F4B400;
  box-shadow: 0 3px 5px 0 rgba(138, 155, 165, 0.5);
  border-radius: 0;
  color: var(--bg-clr-dark);
  display: block;
  font-size: var(--fs-200);
  left: 50%;
  opacity: 0;
  padding: 10px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  bottom: 170%;
}
.tooltip__content-2 {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  transition: all 200ms ease;
  -webkit-transform: translate3d(-50%, 0%, 0);
  -moz-transform: translate3d(-50%, 0%, 0);
  -ms-transform: translate3d(-50%, 0%, 0);
  -o-transform: translate3d(-50%, 0%, 0);
  transform: translate3d(-50%, 0%, 0);
  -webkit-transform-origin: 0 10px;
  -moz-transform-origin: 0 10px;
  -ms-transform-origin: 0 10px;
  -o-transform-origin: 0 10px;
  transform-origin: 0 10px;
  background: #4285F4;
  box-shadow: 0 3px 5px 0 rgba(138, 155, 165, 0.5);
  border-radius: 0;
  color: var(--bg-clr-dark);
  display: block;
  font-size: var(--fs-200);
  left: 50%;
  opacity: 0;
  padding: 10px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  bottom: 170%;
}
.tooltip__content-3 {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  transition: all 200ms ease;
  -webkit-transform: translate3d(-50%, 0%, 0);
  -moz-transform: translate3d(-50%, 0%, 0);
  -ms-transform: translate3d(-50%, 0%, 0);
  -o-transform: translate3d(-50%, 0%, 0);
  transform: translate3d(-50%, 0%, 0);
  -webkit-transform-origin: 0 10px;
  -moz-transform-origin: 0 10px;
  -ms-transform-origin: 0 10px;
  -o-transform-origin: 0 10px;
  transform-origin: 0 10px;
  background: #DB4437;
  box-shadow: 0 3px 5px 0 rgba(138, 155, 165, 0.5);
  border-radius: 0;
  color: var(--bg-clr-dark);
  display: block;
  font-size: var(--fs-200);
  left: 50%;
  opacity: 0;
  padding: 10px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  bottom: 170%;
}
.tooltip__content-4 {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  transition: all 200ms ease;
  -webkit-transform: translate3d(-50%, 0%, 0);
  -moz-transform: translate3d(-50%, 0%, 0);
  -ms-transform: translate3d(-50%, 0%, 0);
  -o-transform: translate3d(-50%, 0%, 0);
  transform: translate3d(-50%, 0%, 0);
  -webkit-transform-origin: 0 10px;
  -moz-transform-origin: 0 10px;
  -ms-transform-origin: 0 10px;
  -o-transform-origin: 0 10px;
  transform-origin: 0 10px;
  background: #0F9D58;
  box-shadow: 0 3px 5px 0 rgba(138, 155, 165, 0.5);
  border-radius: 0;
  color: var(--bg-clr-dark);
  display: block;
  font-size: var(--fs-200);
  left: 50%;
  opacity: 0;
  padding: 10px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  bottom: 170%;
}

.tooltip__content-1:before {
  border-color: transparent;
  border-top-color: #F4B400;
  border-style: solid;
  border-width: 10px;
  content: ' ';
  display: block;
  height: 0;
  left: 50%;
  margin-left: -10px;
  position: absolute;
  bottom: -20px;
  width: 0;
}
.tooltip__content-2:before {
  border-color: transparent;
  border-top-color: #4285F4;
  border-style: solid;
  border-width: 10px;
  content: ' ';
  display: block;
  height: 0;
  left: 50%;
  margin-left: -10px;
  position: absolute;
  bottom: -20px;
  width: 0;
}
.tooltip__content-3:before {
  border-color: transparent;
  border-top-color:#DB4437;
  border-style: solid;
  border-width: 10px;
  content: ' ';
  display: block;
  height: 0;
  left: 50%;
  margin-left: -10px;
  position: absolute;
  bottom: -20px;
  width: 0;
}
.tooltip__content-4:before {
  border-color: transparent;
  border-top-color:#0F9D58;
  border-style: solid;
  border-width: 10px;
  content: ' ';
  display: block;
  height: 0;
  left: 50%;
  margin-left: -10px;
  position: absolute;
  bottom: -20px;
  width: 0;
}

.tooltip__content:after {
  content: ' ';
  display: block;
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 20px;
}

.tooltip__content:hover {
  -webkit-transform: rotateX(0deg) translate3d(-50%, -10%, 0);
  -moz-transform: rotateX(0deg) translate3d(-50%, -10%, 0);
  -ms-transform: rotateX(0deg) translate3d(-50%, -10%, 0);
  -o-transform: rotateX(0deg) translate3d(-50%, -10%, 0);
  transform: rotateX(0deg) translate3d(-50%, -10%, 0);
  opacity: 1 !important;
  pointer-events: auto;
  animation-play-state: paused;
}

.my-tooltip:not( :hover) .tooltip__content {
  opacity: 0;
}

.my-tooltip:hover .tooltip__content {
  opacity: 0;
}

.tooltip-mid-width {
  width: 155px;
}

.tooltip__content span {
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  line-height: 15px;
  font-weight: bold;
  padding: 1px 5px;
  position: relative;
  top: 2px;
}

@-webkit-keyframes antenna {
  0% {
    box-shadow: 0px 0px 0px 0px #38BDEE;
  }

  100% {
    box-shadow: 0px 0px 0px 15px rgba(52, 106, 180, 0);
  }
}

@keyframes antenna {
  0% {
    box-shadow: 0px 0px 0px 0px #38BDEE;
  }

  100% {
    box-shadow: 0px 0px 0px 15px rgba(52, 106, 180, 0);
  }
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animate-flicker {
  -webkit-animation: flickerAnimation 5s infinite;
  -moz-animation: flickerAnimation 5s infinite;
  -o-animation: flickerAnimation 5s infinite;
  animation: flickerAnimation 5s infinite;
}


/* SERVICES */

.services {
  margin-top: -5rem;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: url('../images/background/bg-white-3.webp');
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

/* .card {
  margin: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)  !important;
  border-radius: 0 2.5rem 0 2.5rem !important;

} */
.card {
  margin: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2) !important;
  border-radius: 0 2.5rem 0 2.5rem !important;
  overflow: hidden; /* clip any content that spills outside of the card */
}

.card-header {
  background-image: linear-gradient(90deg, rgba(66,133,244,1) 0%, rgba(219,68,55,1) 35%, rgba(244,180,0,1) 67%, rgba(15,157,88,1));
  height: 2.5rem;
  border-radius: 2.5rem 0 0 0;
  color:white;
}


.card-body {
  height: 5rem;
  padding: 2.5rem 0.5rem 0 0.5rem;
  
}

.card-body-2 {
  height: 23rem;
}
.card-body h3 {
  font-size: 2rem;
}
.card-body p {
  color: var(--primary-light);
}
.card-title {
  font-size: 4rem;
}

/* PRODUCTS */

.products {
  margin-top: 5rem;
  width: 100%;
  height: 100%;
  background: url('../images/background/bg-white-2.webp');
  background-repeat: repeat;
  background-position: center;
  overflow: hidden;
}

.products-title {
  margin-left: 4rem !important;
  font-weight: var(--font-weight-semi-bold);
}
.products-title h4 {
  position: relative;
}

.products-title h4::after {
  content: " ";
  position: absolute;
  display: block;
  width: 100px;
  height: 10px;
  background: var(--primary-light);
  top: 2rem;
  left: 0;
}

.products-item {
  margin-bottom: 30px;
}

.products-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.products-wrap img:hover {
  transform: scale(1.125);
  transition: 0.5ms ease-in-out !important;
}

<<<<<<< HEAD
.brand-logo{
  position: relative;
  max-width: 300px;
  height: auto;
}


.description, .product-btn{
text-align: left;
justify-content: center;
margin: 0 2rem 2rem 2rem;
}

.product-image{
  padding: 2rem;
}

.product-btn{
color-scheme: linear-gradient(90deg, rgba(66,133,244,1) 0%, rgba(219,68,55,1) 35%, rgba(244,180,0,1) 67%, rgba(15,157,88,1) 100%); 
}


=======
.products-name {
  font-weight: bold;
  margin: 1rem;
}

.products-title h4 {
  font-weight: bold;
}

.card-image-top {
  margin: 1rem;
}

.card-description {
  padding: 0 1rem 0 1rem;
}

.products-image {
  width: 30rem;
  margin-bottom: -100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
>>>>>>> c94080b5985be4e961302a9d8997394cb41a7d44
/* PARTNERS */

.partners {
  margin-top: 5rem;
  width: 100%;
  height: 100%;
  background: url('../images/background/bg-white-3.webp');
  background-repeat: repeat;
  background-position: center;
  overflow: hidden;
}

.carousel {
  margin-top: -5rem;
}
.carousel-caption h5 {
  margin-top: -5rem;
}

/* MISSION */

.mission {
  margin-top: 5rem;
  width: 100%;
  height: 100%;
  background: url('../images/background/bg-white-2.webp');
  background-repeat: repeat;
  background-position: center;
  overflow: hidden;
}

.mission > .text-hero-regular {
  text-align: justify;
  text-justify: inter-word;
}

/* PARTNERS */

.partners {
  margin-top: 5rem;
  width: 100%;
  height: 100%;
  background: url('../images/background/bg-white-3.webp');
  background-repeat: repeat;
  background-position: center;
  overflow: hidden;
}

/* CONTACT-US */

.contact {
  padding-bottom: 130px;
  color: var(--primary);
  background: url(../images/background/bg-white-1.webp);
  background-repeat: repeat;
  background-position: center;
  overflow: hidden;
}

.contact .info {
  padding: 30px;
  background: var(--blue);
  color: white;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  border-radius: none;
  z-index: 99;
}

.contact .info i {
  font-size: var(--text-regular);
  color: var(--primary);
  background-color: #0F9D58 !important;
  float: left;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 10px;
  font-size: 20px;
  font-weight: var(--font-weight-semi-bold);
  margin-bottom: 5px;
  color: white;
}

.contact .info p {
  padding: 0 10px 1rem 10px;
  margin-bottom: 20px;
  font-size: var(--text-regular);
  color: white;
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  opacity: 0.8;
}

.contact .email-form {
  width: 100%;
  padding: 30px;
  background-color: var(--green);
  color: white;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .email-form .form-group {
  padding-bottom: 8px;
}

.contact .email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .email-form .error-message br+br {
  margin-top: 25px;
}

.contact .email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .email-form .form-group {
  margin-bottom: 15px;
}

.contact .email-form label {
  padding-bottom: 8px;
}

.contact .email-form input,
.contact .email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: var(--text-regular);
}

.contact .email-form input {
  height: 44px;
}

.contact .email-form textarea {
  padding: 10px 15px;
}

.contact .email-form button[type=submit] {
  padding: 15px 25px;
  border-radius: 0 !important;
  text-transform: uppercase;
}

.contact .email-form button[type=submit]:hover,
.contact .email-form button[type=submit]:focus {
  border: 1px solid var(--primary-light) !important;
}

.email-form input::placeholder, .email-form textarea::placeholder {
  color: var(--primary) !important;
}

.address a,
.email a,
.address a:hover,
.email a:hover {
  text-decoration: underline;
  text-underline-offset: 0.35rem;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* FOOTER */

.footer {
  background-color: #d9d9d9 ;
  padding: 0 2rem;
}
.footer-2 {
  background-color: #3e3d3d;
  color: white !important;
}

.certifications li p{
 margin-bottom: 0.5rem;
 color: var(--primary-light);
}
.sns-footer-icon-dark { 
  color: var(--primary-light) !important;
  margin-top: 1rem !important;
}


/* BACK TO TOP */
#progress {
  position: fixed;
  bottom: 6rem;
  right: 3.5rem;
  height: 3.5rem;
  width: 3.5rem;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 9999;
}
#progress-value {
  display: block;
  height: calc(100% - 0.5rem);
  width: calc(100% - 0.5rem);
  background-color: var(--primary);
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  color: white !important;
}

